header{
    height: 25vw;
    background-color: red;
    width: 100vw;
}
nav{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
nav a{
    text-decoration: none;
    font-size: 6.7vw;
    color: var(--color2);
    letter-spacing: 0vw;
    font-family: "Quantico", sans-serif;
}
nav p{
    position: fixed;
    right: 0%;
    top: 2%;
    color: var(--color2);
    font-size: 7vw;
    cursor: pointer;
    z-index: 99;
    background-color: red;
}